<!DOCTYPE html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    
    function updatetable(id, key){
        var value = $('#'+key).val();
        console.log(value);
        socket.emit('updatetable',id, key, value)
    }
</script>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>

        <h1 class="title"><%= title %></h1>
        <div class="editor">
            <% if(!err) { %>
            <b>RESULTS</b>
            <dl> 
                <% for (var key in data) { %>
                    <% if (data.hasOwnProperty(key)) { %>
                        <dd class="editor_elt"><%= key%> = <%= data[key]%>
                            <form>
                                <br>
                                <textarea id=<%= key %> type="text" style="height:240px;width:640px;"><%= data[key]%></textarea>
                                <br>
                                <input type="submit" value="Submit" name=<%= key %> onclick="updatetable(<%= data['id'] %>, this.name)">
                            </form>
                        </dd>
                    <% } %>
                <% } %>
            </dl>
            <% } else { %>
            <span class="error_msg"> There was an error loading content from the database, please refresh the page to try again </span>
            <% } %>
        </div>
    </body>
</html>
