<!DOCTYPE html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    
    function updatetable(id, key){
        var value = $('#'+key).val();
        console.log(value);
        socket.emit('updatetable',id, key, value)
    }
    function updatepiece(game_id, name, field){
        console.log(game_id);
        console.log(name);
        console.log(field);
        var value = $('#'+field).val();
        console.log(value);
        socket.emit('updatepiece', game_id, name, field, value)
    }
</script>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>

        <h1 class="title"><%= title %></h1>
        <div class="editor">
            <% if(!err) { %>
            <dl>
                <dt><b>GAME</b></dt>
                <% for (var key in data) { %>
                <% if (data.hasOwnProperty(key)) { %>
                <dd class="editor_elt"><%= key%> = <%= data[key]%>
                    <form>
                        <br>
                        <textarea id=<%= key %> type="text" style="height:60px;width:600px;"><%= data[key]%></textarea>
                        <br>
                        <input type="submit" value="Submit" name=<%= key %> onclick="updatetable(<%= data['id'] %>, this.name)">
                    </form>
                </dd>
                <% } %>
                <% } %>
                <br>
                <b>PIECES</b>
                <% for (var i in pieces) { %>
                <% if (pieces.hasOwnProperty(i)) { %>
                <dt><b>PIECE: <%= i %></b></dt>
                <% for (var field in pieces[i]) { %>
                <% if (pieces[i].hasOwnProperty(field)) { %>
                <dd class="editor_elt">
                    <%= field%> = <%= pieces[i][field]%>
                    <form>
                        <br>
                        <textarea id=<%= field %> type="text" style="height:60px;width:600px;"><%= pieces[i][field]%></textarea>
                        <br>
                        <input type="submit" value="Submit" name=<%= field %> onclick="updatepiece(<%= pieces[i]['id']%>, <%= pieces[i]['id']%>, this.name)">
                    </form>
                </dd>
                <% } %>
                <% } %>
                <% } %>
                <% } %>
            </dl>
            <% } else { %>
            <span class="error_msg"> There was an error loading content from the database, please refresh the page to try again </span>
            <% } %>
        </div>
    </body>
</html>
